@use 'cleany'
@import 'variablles'
$grid-1: repeat(1, 1fr)
$grid-2: repeat(2, 1fr)
$grid-3: repeat(3, 1fr)
$grid-4: repeat(4, 1fr)
$grid-5: repeat(5, 1fr)

$card-labels: ('cards_special__card__label': #F2994A,"cards_special__card__label-today": #219653, "cards_special__card__label-price": #D41A36)
@each $name, $color in $card-labels
  .#{$name}
    background-color: $color!important
body
  font-family: 'Roboto', sans-serif

@mixin flex-center
  display: flex
  justify-content: center
  align-items: center
.header
  padding: 15px 20px
  display: flex
  justify-content: space-between
  min-height: 60px

.header__tel_and_menu
  display: flex
  flex-direction: row

.header__tel_and_menu__tel
  @include flex-center
  min-width: 20px
  min-height: 20px
  margin-right: 15px
  width: 100%
  height: 100%
  &__img
    width: 100%

.header__tel_and_menu__menu
  @include flex-center
  padding: 0
  border: none
  min-width: 24px
  min-height: 20px
  margin-left: 15px
  background-color: white
  img
    width: 100%

.header__tel_and_menu__tel__changed
  display: none
  word-break: keep-all
  a
    color: black
    font-size: 1.3rem
    text-decoration: none

.header__list
  display: flex

.additional
  padding: 20px
  display: none
  &__container
    display: grid
    grid-template-columns: $grid-3
    grid-column-gap: 7px
  &__card
    border-radius: 14.5px
    padding: 38px 0 17px 0
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    transition: 300ms
    -webkit-box-shadow: 0px 1px 14px 0px rgba(208, 208, 208, 0.4)
    -moz-box-shadow: 0px 1px 14px 0px rgba(208, 208, 208, 0.4)
    box-shadow: 0px 1px 14px 0px rgba(208, 208, 208, 0.4)
    &:hover
      background: #5661CB
      color: white
      & .additional__card__icon .additional__card__icon__svg path
        fill: white!important

    h4
      margin: 10px 0 7px
      font-size: 1.2rem
    p
      font-size: 1rem
.header__item
  @include flex-center
  i
    color: #5661CB
    padding: 0 23px
.header__link
    color: $second
    text-decoration: none
    padding: 0 23px

.header__nav
  display: none
  justify-content: space-between

.nav__list-icons
  margin-left: 50px!important

.header__logo
  width: 100px
  display: flex
  align-items: center
  &_img
    width: 100%
.header__tel_and_menu__tel__num
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &__link
    display: none
    text-align: center
    color: #5661CB
  &__link__call
    text-align: center
    color: #5661CB

.cards_special__title
  text-align: center
  font-weight: 500
  padding-bottom: 30px

.cards_special
  padding: 0 20px

.cards_special__card
  justify-self: center
  max-width: 135px
  margin-bottom: 20px
  &:hover .cards_special__card__image img
    filter: grayscale(.9)
    transition: 300ms
.showroom
  padding: 20px
  &__container
    display: grid
    grid-template-columns: $grid-1
    align-items: center
    justify-items: center
    grid-column-gap: 7px
    grid-row-gap: 7px
  &__item
    width: 100%
    &2
      display: none
    &3
      display: none

.cards_special__card__description
  display: flex
  flex-direction: column
  justify-content: center

.cards_special__card__description__name
  font-size: .75rem
  font-weight: 500
  margin-bottom: 5px

.cards_special__card__description__link
  font-size: calc(0.75rem - 1px)
  color: $text-gray
  margin-bottom: 5px

.showroom__title_and_link
  display: inline-flex
  justify-content: space-between
  align-items: center
  width: 100%
  h2
    text-align: center
    width: 100%
  &__link
    color: $main
    display: none

.cards_special__card__description__price
  font-size: 1.125rem
  font-weight: 500
  margin-bottom: 10px

.cards_special__card__acions__buy
  border: none
  border-radius: 6px
  font-size: .75rem
  padding: 9px 20px
  color: white
  background-color: $main
  width: 100%

.cards_special__card__acions
  display: flex
  justify-content: center

.cards_special__container
  display: grid
  grid-template-columns: $grid-2
  align-items: center
  &-tablet
    display: none

.projects
  padding: 0 20px
  &__title_and_link
    width: 100%
    display: inline-flex
    justify-content: space-between
    align-items: center
    h2
      text-align: center
      width: 100%
    a
      color: $main
      font-size: 1rem
      display: none
.additional h3
  padding-bottom: 40px
.projects__container
  display: grid
  grid-column-gap: 7px
  grid-row-gap: 7px
  grid-template-columns: $grid-2

.projects__project
  position: relative
  &:hover .projects__project__info
    opacity: 1
    background: mix($main, #ffffff00, 75%)
  img
    width: 100%
  &__info
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    justify-content: center
    background: $main-opacity
    border-radius: 6px
    align-items: center
    opacity: 0
    transition: 300ms
    h4
      font-size: .775rem
      text-align: center
      color: white
      font-weight: 400
    a
      padding: 5px 10px
      text-decoration: none
      font-size: .625rem
      width: fit-content
      border-radius: 4px
      border: 1px solid white
      background: transparent
      color: white
    p
      padding: 10px
      font-size: .775rem
      color: white
      display: none

.additional__card4
  display: none
.projects__title_and_link, .showroom__title_and_link
  padding-bottom: 40px
.showroom, .additional, .projects
  padding-bottom: 40px

.cards_special__card__description__link-stock
  @extend .cards_special__card__description__link
  color: $green
@media screen and (min-width: 480px)
  .projects__project__info
    h4
      font-size: .8775rem

  .header__logo
    width: 135px
  .showroom
    &__container
      grid-template-columns: $grid-2
    &__item2
      display: block
  .cards_special__container
    grid-template-columns: $grid-3

@media screen and (min-width: 768px)
  body
    font-size: 17px
  h5
    font-size: 1.4rem
  h4
    font-size: 1.65rem
  h3
    font-size: 1.9rem
  h2
    font-size: 2.1rem
  h2
    font-size: 2.47rem

  .showroom
    &__container
      grid-template-columns: $grid-3
      grid-column-gap: 14px
      grid-row-gap: 14px
    &__item3
      display: block
  .additional__container
    grid-column-gap: 14px
  .projects__project__info
    h4
      font-size: 1.3rem
    p, a
      font-size: 1rem

  .additional
    display: grid

  .projects__project-4
    display: none
  .header__tel_and_menu__tel
    aspect-ratio: unset
    display: flex
    align-items: center
    text-decoration: none
    color: $text-second

    img
      display: none
    &__changed
      display: block

  .projects__container
    grid-template-columns: $grid-3
    grid-column-gap: 14px
    grid-row-gap: 14px
  .cards_special__container-mobile
    display: none

  .cards_special__title
    text-align: left

  .cards_special__container-tablet
    display: grid
    max-width: 730px
    margin: auto
  .cards_special__card
    max-width: 206px
    &-extended
      border: 1px solid $border
      padding: 0 10px 13px
      border-radius: 4px
      position: relative
    &__label
      position: absolute
      top: 10px
      left: 0
      padding: 5px 10px
      color: white
      font-size: .7rem
      overflow: hidden
      height: 20px
      width: 120px
      display: flex
      &__round
        position: absolute
        right: -15px
        top: -5px
        width: 40px
        height: 40px
        background: white
        border-radius: 50%
    &__star
      position: absolute
      top: 10px
      right: 10px
      color: $main
      input
        display: none
        &:checked + .fa-star
          color: $text-red
    &__img
      margin-top: 40px
    &__img img
      margin: 0 auto
    &__description__name
      font-size: 1rem
      font-weight: 600
    &__description__qnt,
    &__description__format
      font-size: calc(1rem - 1px)
    &__description__links
      display: inline-flex
      justify-content: space-between
    &__description__price
      font-size: 1.1765rem
    &__acions__buy
      font-size: .8rem
    &__acions__cart
      color: $main
      background: transparent
      border: 1px solid $main
      padding: 9px 20px
      margin-left: 10px
@media screen and (min-width: 1000px)
  .cards_special__container-tablet
    max-width: 961px
  .showroom__container,
  .additional__container,
  .projects__container
    grid-column-gap: 28px
  .projects__project__info
    padding: 0 30px
    p
      display: inline
  .additional__card
    align-items: flex-start
    padding-left: 40px
    padding-right: 40px
    h4, p
      text-align: left
  body
    font-size: 16px

  .projects__title_and_link
    a
      display: inline
    h2
      text-align: left
      width: fit-content
  .header__nav
    display: flex

  .header__logo
    width: 160px

  .header__tel_and_menu__tel__num__link
    display: block

  .showroom__title_and_link
    &__link
      display: block
    h2
      text-align: left
      width: fit-content
  .header__tel_and_menu__menu
    display: none
  .cards_special__container
    grid-template-columns: $grid-4
@media screen and (min-width: 1440px)
  .header__logo
    width: 200px
  .cards_special__container
    max-width: 1250px
    grid-template-columns: $grid-5
  .additional__card4
    display: flex
  .additional__container
    grid-template-columns: $grid-4
